@import url("./font.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  @apply font-poppins bg-theme-base-2 text-secondary;
  position: relative;
  overflow-x: hidden;
}

@layer base {
  h1 {
    @apply text-4xl font-medium text-white;
  }
  h2 {
    @apply text-[28px] font-medium leading-[42px] text-white;
  }
  h3 {
    @apply text-2xl text-white font-medium;
  }
  h4 {
    @apply text-[22px] text-white leading-8;
  }
  h5 {
    @apply text-base;
  }
  h6 {
    @apply text-sm;
  }
  p {
    @apply text-lg;
  }
  .sb {
    @apply border border-red-500;
  }
  .padding-1 {
    @apply px-6 py-3;
  }
}
